
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 3%;
	background: #FDFDFD;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.extra {
	border: 1px solid grey;
	padding: 10px;
	width: 18%;
	position: fixed;
}

.heading p {
	display: none;
}

.heading h1 {
	margin: 0;
}

.settings summary {
	margin-bottom: 12px;
	outline: none;
	cursor: pointer;
}

.current-info {

}

.current-info li {
	margin: 2px 0;
}

.current-info a {
	text-transform: capitalize;
	letter-spacing: 1px;
	padding: 2px 5px;
	display: inline-block;
}

.current-panel {
	color: white;
	background: black;
	text-decoration: none;
}

.tips {
	padding: 0;
	width: 77%;
	float: left;
	margin: 0 0 0 24%;
}

.tips-tip {
	list-style-type: none;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
	box-shadow: 3px 3px 4px #ccc;
}

.tips-heading {
	margin: 0;
}

.tips-heading span {
	font-size: 15px;
	font-weight: normal;
	color: rgba(111, 104, 104, 0.85);
	letter-spacing: 1px;
	margin-right: 20px;
}

/* Highlight on target */

@-webkit-keyframes target {
	from { background:#ffffd3; }
	90% { background:#ffffd3; }
	to { background:#ffffff; }
}

.tips-heading a {
	font-size: 24px;
	padding: 15px 0;
	display: inline-block;
}

.tips-heading a:target {
	-webkit-animation:target 1s linear;
}

.tips-video {
	border: 1px solid rgba(0,0,0,0.8);
	max-width: 600px;
	width: 80%;
}

@media screen and (max-width: 780px) {
	body {
		margin: 1%;
	}

	.tips-video {
		max-width: 90%;
	}

	.extra {
		position: static;
		width: auto;
		display: block;
	}

	.tips {
		float: none;
		margin: 20px 0;
		width: auto;
	}
}

@media screen and (max-width: 680px) {
	body {
		margin: 20px;
	}

	.tips-heading a {
		font-size: 17px;
		padding: 7px;
	}

	.tips-tip {
		padding: 5px;
	}

	.tips-video {
		max-width: 95%;
	}
}