
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 3%;
	background: #FDFDFD;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.settings summary {
	margin-bottom: 12px;
	outline: none;
	cursor: pointer;
}

.news-item details[open] summary {
	font-style: italic;
}

.news-item details[open] time,
.news-item time:hover {
	border: 1px solid #E8B8A0;
	background: rgba(240, 224, 216, 0.55);
}


.tips {
	padding: 0;
}

.tips-tip {
	list-style-type: none;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}

.tips-heading {
	margin: 0;
}

.tips-heading span {
	font-size: 14px;
	font-weight: normal;
	color: rgba(111, 104, 104, 0.85);
	letter-spacing: 1px;
	margin-right: 20px;
}

/* Highlight on target */

@-webkit-keyframes target {
	from { background:#ffffd3; }
	90% { background:#ffffd3; }
	to { background:#ffffff; }
}

.tips-heading a {
	font-size: 24px;
	padding: 15px 0;
	display: inline-block;
}

.tips-heading a:target {
	-webkit-animation:target 1s linear;
}

.tips-video {
	border: 1px solid rgba(0,0,0,0.8);
	max-width: 78%;
}

@media screen and (max-width: 780px) {
	body {
		margin: 1%;
	}

	.tips-video {
		max-width: 90%;
	}
}

@media screen and (max-width: 680px) {
	body {
		margin: 20px;
	}

	.tips-heading a {
		font-size: 17px;
		padding: 7px;
	}

	.tips-tip {
		padding: 5px;
	}

	.tips-video {
		max-width: 95%;
	}
}