{{#tips}}
	<li data-panel="{{panel}}" data-tags="{{tags}}">
		<h3>{{title}}</h3>
		<video width="55%" controls autoplay loop>
			<source src="media/{{src}}" type="video/mp4"></source>
		</video>
		<p>{{description}}</p>
	</li>
{{/tips}}