{{#data}}
	{{#tips}}
		<li class="tips-tip" data-panel="{{panel}}" data-tags="{{tags}}">
			<h3 class="tips-heading"><span>{{panel}}:</span><a name="{{key}}" href="#{{key}}">{{title}}</a></h3>
			<video class="tips-video" controls loop>
				<source src="media/{{src}}" type="video/mp4"></source>
			</video>
			<p>{{description}}</p>
		</li>
	{{/tips}}
{{/data}}